backup_workflows_credentials-2C68p71wyaWYRQzO.json
{"updatedAt":"2026-03-23T23:49:57.000Z","createdAt":"2026-03-20T22:48:03.808Z","id":"2C68p71wyaWYRQzO","name":"backup_workflows_credentials","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1040,1344],"id":"f10a679f-791f-4fa5-8e98-7ab2b21f2761","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"=npx n8n export:credentials --backup --all --decrypted --output={{ $('Credentials Path').item.json.path }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1936,960],"id":"5d03a5e3-7c15-477d-8ddc-d89e8930b53c","name":"Export Credentials"},{"parameters":{"assignments":{"assignments":[{"id":"45500e7e-ae5a-4170-8e31-fef2b17d4fac","name":"path","value":"./.n8n-files/project/credentials/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,960],"id":"ca90e745-ffb9-49a4-a4c2-fadb5cea6472","name":"Credentials Path"},{"parameters":{"fileSelector":"={{ $('Credentials Path').item.json.path }}*.json","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2160,960],"id":"702ac9e8-be56-4356-9125-6319a871967d","name":"Read Credentials"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Read Workflows' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2384,960],"id":"e16b2322-48ac-4ba7-b5d8-95c0b985ac57","name":"Loop Credentials"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1.1,"position":[2608,896],"id":"7dcfa5df-9282-4d92-9d68-97b9c99b4dd1","name":"Extract Credential from File"},{"parameters":{"inputDataFieldName":"={{ $('Loop Credentials').item.binary.data }}","name":"={{ $('Credential Filename').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create Credentials backup folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3056,896],"id":"1d755fbe-1adb-4ae8-8070-f3e0fe56061b","name":"Upload credential","credentials":{"googleDriveOAuth2Api":{"id":"AHyd6RmvdohzD4ww","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5007b097-71e9-4680-9b43-da6dffae494a","name":"filename","value":"={{ $('Extract Credential from File').item.json.data.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2832,896],"id":"788720a3-0c92-4137-896b-8e946e5eb38b","name":"Credential Filename"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3280,960],"id":"2d94a4b4-693e-4568-bc44-b868425234d2","name":"Wait Credential load","webhookId":"45c54c5f-b661-47ad-aa11-0c59732bd3a8"},{"parameters":{"resource":"folder","name":"=n8n-credentials-backup-{{ $now.toString() }}","driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1aEsiENsgDCOhzDT0rgbQ-h_564icUG3z","mode":"list","cachedResultName":"credentials_backup","cachedResultUrl":"https://drive.google.com/drive/folders/1aEsiENsgDCOhzDT0rgbQ-h_564icUG3z"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1488,960],"id":"3bcae43e-310a-4a15-ba4e-34d4c1698bba","name":"Create Credentials backup folder","credentials":{"googleDriveOAuth2Api":{"id":"AHyd6RmvdohzD4ww","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2832,208],"id":"f0994ed2-9336-45d1-bfb9-fe12f8d221d4","name":"No Operation, do nothing"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1936,480],"id":"fb8cb883-078f-4c85-baf6-60c42151232e","name":"Combinar archivos"},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"832d113d-0201-490f-b812-0ce1c452905f","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[2832,400]},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"e33ff8ec-2d89-45fd-b11c-24bfde99440e","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2384,480]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1712,480],"id":"3e82a836-32d5-476f-a82c-02c9c5f221c7","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"CcFtnY19Yn1vVvjk","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"angelicacvo","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_backups","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1488,480],"id":"ff0eae9a-c767-4b5b-b5d5-1a07f0f1b837","name":"Establecer campos"},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":1168,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,-176],"id":"23503622-9bc9-43c8-ba8b-2d229b5ba84f","name":"Sticky Note1"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"86daf1a5-da8f-4fd8-bc91-08bda210661f","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3056,672],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"CcFtnY19Yn1vVvjk","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"e7570c10-7884-432f-8ef7-5aaa78838bf7","name":"Actualizador de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3056,480],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"CcFtnY19Yn1vVvjk","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1264,464],"id":"70ba8190-e72e-471e-947b-576407dfdbeb","name":"Nodo Programado","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2608,480],"id":"7f2fc309-3d30-4471-b46e-4c31eb4ba59d","name":"Loop Over Items"},{"parameters":{"filters":{},"requestOptions":{}},"id":"3cc7254a-d653-4510-aa91-9a2e345b4220","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[2160,480],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"3FYVt3cnGoBQZ0QH","name":"n8n account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $('Loop Over Workflows').item.json }}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,1312],"id":"54a6196d-cdb8-43e6-8fbe-c33b765ab9a0","name":"JSON workflow"},{"parameters":{"assignments":{"assignments":[{"id":"5007b097-71e9-4680-9b43-da6dffae494a","name":"filename","value":"={{ $('Loop Over Workflows').item.json.name }}.json","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2160,1312],"id":"2ee9c7e5-5d1b-4040-8c34-76f48cef2d81","name":"Workflow Filename"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $('Workflow Filename').item.json.filename }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2608,1312],"id":"6a95b50a-2663-40eb-82f1-d14eeb2c51a3","name":"Convert Workflow JSON to File"},{"parameters":{"options":{"reset":"={{ $prevNode.name === 'Filter non Archived Workflows' }}"}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1936,1376],"id":"7eac3c43-5c15-4efd-906e-fb9a75ba0dd1","name":"Loop Over Workflows"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3952562-8cf1-4cb2-a46c-2251f4b26f82","leftValue":"={{ $('Get Workflows').item.json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1712,1376],"id":"4fe035bb-f64c-4e48-b6ab-6f29d9b51ea4","name":"Filter non Archived Workflows"},{"parameters":{"resource":"folder","name":"=n8n-workflows-backup-{{ $now.toString() }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"14q1R97SFcFE27xRf5y-5KYIi333lcw2a","mode":"list","cachedResultName":"workflows_backup","cachedResultUrl":"https://drive.google.com/drive/folders/14q1R97SFcFE27xRf5y-5KYIi333lcw2a"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1264,1376],"id":"5c7ab7eb-6e65-411b-acc0-4483ca9e9ad9","name":"Create Workflows backup folder","credentials":{"googleDriveOAuth2Api":{"id":"AHyd6RmvdohzD4ww","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3056,1376],"id":"38176a07-7e71-43ff-ba4b-cc8dc1e1dbb3","name":"Wait","webhookId":"6e8463d1-9154-43ad-8c00-9e8f19dd3799"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1488,1376],"id":"50e1733e-67be-42cb-9142-2dcf97ed95a7","name":"Get Workflows","credentials":{"n8nApi":{"id":"3FYVt3cnGoBQZ0QH","name":"n8n account"}}},{"parameters":{"name":"={{ $('Workflow Filename').item.json.filename }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $('Create Workflows backup folder').item.json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2832,1312],"id":"fc1f3946-b61b-4bae-8f43-86ce504228c7","name":"Upload workflow","credentials":{"googleDriveOAuth2Api":{"id":"AHyd6RmvdohzD4ww","name":"Google Drive account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Create Workflows backup folder","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read Credentials","type":"main","index":0}]]},"Credentials Path":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Read Credentials":{"main":[[{"node":"Loop Credentials","type":"main","index":0}]]},"Loop Credentials":{"main":[[],[{"node":"Extract Credential from File","type":"main","index":0}]]},"Extract Credential from File":{"main":[[{"node":"Credential Filename","type":"main","index":0}]]},"Credential Filename":{"main":[[{"node":"Upload credential","type":"main","index":0}]]},"Upload credential":{"main":[[{"node":"Wait Credential load","type":"main","index":0}]]},"Wait Credential load":{"main":[[{"node":"Loop Credentials","type":"main","index":0}]]},"Create Credentials backup folder":{"main":[[{"node":"Credentials Path","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Actualizador de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Nodo Programado":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Si existe","type":"main","index":0}]]},"Captura de Workflows":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]},"Workflow Filename":{"main":[[{"node":"JSON workflow","type":"main","index":0}]]},"JSON workflow":{"main":[[{"node":"Convert Workflow JSON to File","type":"main","index":0}]]},"Loop Over Workflows":{"main":[[],[{"node":"Workflow Filename","type":"main","index":0}]]},"Filter non Archived Workflows":{"main":[[{"node":"Loop Over Workflows","type":"main","index":0}]]},"Create Workflows backup folder":{"main":[[{"node":"Get Workflows","type":"main","index":0}]]},"Convert Workflow JSON to File":{"main":[[{"node":"Upload workflow","type":"main","index":0}]]},"Get Workflows":{"main":[[{"node":"Filter non Archived Workflows","type":"main","index":0}]]},"Upload workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Workflows","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Nodo Programado":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e0069fc6-40dd-403c-b845-f04b623bd2f0","triggerCount":1,"shared":[{"updatedAt":"2026-03-20T22:48:03.813Z","createdAt":"2026-03-20T22:48:03.813Z","role":"workflow:owner","workflowId":"2C68p71wyaWYRQzO","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[]}