classification-subflow-8PEnAfQXCUMKZj7G.json
{"updatedAt":"2026-02-01T12:02:48.000Z","createdAt":"2026-01-31T12:49:55.713Z","id":"8PEnAfQXCUMKZj7G","name":"Classification-subflow","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"454a54d2-bd41-4d87-8ff8-213d37b54cbd","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","hasOutputParser":true,"options":{"systemMessage":"clasifica el mensaje según su tema: IT, Legal, Facilities y Other. Devuelve solo una palabra en minúsculas. Devuelve la categoría"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[208,-16],"id":"42178346-1a10-4e75-9a7b-c34b62194c22","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[80,208],"id":"a9354920-9d9d-45e9-8158-86170ef62082","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n\t\"category\": \"it\",\n\t\"trust\": \"high\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[384,208],"id":"afb46a84-1472-467d-8468-af34baaa5ed2","name":"Structured Output Parser"},{"parameters":{"assignments":{"assignments":[{"id":"3f60df78-25a8-44a7-9191-24ff62f6850b","name":"category","value":"={{ $json.output.category }}","type":"string"},{"id":"2130d5ca-15af-48f3-9891-556ddd352eb3","name":"trust","value":"={{ $json.output.trust }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,0],"id":"78e097df-8cb7-4661-8b11-bf8782c04356","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aea280ca-01c5-4993-a92f-1fd905f30f36","triggerCount":0,"shared":[{"updatedAt":"2026-01-31T12:49:55.743Z","createdAt":"2026-01-31T12:49:55.743Z","role":"workflow:owner","workflowId":"8PEnAfQXCUMKZj7G","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[{"updatedAt":"2026-02-01T12:01:28.912Z","createdAt":"2026-02-01T12:01:28.912Z","id":"D41uIYCdyy3xyDBW","name":"Support"},{"updatedAt":"2026-02-01T12:02:38.278Z","createdAt":"2026-02-01T12:02:38.278Z","id":"amW50XN4l0xrMLr9","name":"Classification"}]}