internassistant-principalflow-5b5CzqjYWtgXE0EQ.json
{"updatedAt":"2026-02-01T12:48:40.000Z","createdAt":"2026-01-31T04:53:50.668Z","id":"5b5CzqjYWtgXE0EQ","name":"InternAssistant-PrincipalFlow","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"path":"intern-assistant","responseMode":"responseNode","options":{"allowedOrigins":"http://localhost:5678/webhook/intern-assistant"}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-752,928],"id":"3369beb9-b73c-464a-b322-ad9449cd3b6b","name":"Webhook","webhookId":"55b7ece2-5d3d-475d-b3b8-1dee0af30ef3"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"status\": \"error\",\n  \"message\": \"your message is empty or very short\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-64,1088],"id":"567df76b-7436-4bff-b155-0d7f51811017","name":"failed"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3443bb55-9d77-417f-98fc-e601b5c85e8c","leftValue":"={{ $json.message }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"b9b61c6a-6357-4576-96e2-775b4a2c2321","leftValue":"={{ $json.message.length }}","rightValue":10,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-304,928],"id":"50789224-b2fa-4ff6-8069-f2cd3cbbe2f3","name":"is empty & more than 10 char?"},{"parameters":{"assignments":{"assignments":[{"id":"f8e9b393-4a15-45e2-a9ca-d2f0f708ec38","name":"user","value":"={{ $json.body.user }}","type":"string"},{"id":"471b2cde-d57d-425d-8f96-01852b10e016","name":"message","value":"={{ $json.body.message }}","type":"string"},{"id":"d7bd4512-aa1e-4be0-bc25-b6c7b423a725","name":"priority","value":"={{ $json.body.message.includes(\"urgente\")?\"high\":\"normal\" }}","type":"string"},{"id":"914f4430-7f57-4d7d-9b63-15f0e285488a","name":"date","value":"={{ $now.toISO() }}","type":"string"},{"id":"3c6d8795-22da-4857-90f9-a587b40ff1b6","name":"flow","value":"={{  $workflow.name }}","type":"string"},{"id":"4ecdc416-8aa4-472b-91a4-82e00e2051a1","name":"execution_id","value":"={{  $execution.id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-528,960],"id":"a716ffca-bbdf-4850-976d-e0b44c0a5877","name":"format data request"},{"parameters":{"respondWith":"json","responseBody":"={\n  \"origin\": \"{{ $('execute response-channels-subflow').item.json.Origin }}\",\n  \"text\": \"flow executed successfully\"\n}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[416,944],"id":"8bd52a46-acd3-469e-a389-9da669c567d9","name":"response to webhook"},{"parameters":{"workflowId":{"__rl":true,"value":"8PEnAfQXCUMKZj7G","mode":"list","cachedResultUrl":"/workflow/8PEnAfQXCUMKZj7G","cachedResultName":"classification-subflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"message":"={{ $json.message }}"},"matchingColumns":["message"],"schema":[{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-80,832],"id":"ad2aa5a9-c6d9-4f47-ae76-d958ca6a55e8","name":"execute department classification"},{"parameters":{"workflowId":{"__rl":true,"value":"mNcUL7DeNqsYmBTy","mode":"list","cachedResultUrl":"/workflow/mNcUL7DeNqsYmBTy","cachedResultName":"Response-channels-subflow"},"workflowInputs":{"mappingMode":"defineBelow","value":{"category":"={{ $('execute department classification').item.json.category }}","date":"={{ $('is empty & more than 10 char?').item.json.date }}","priority":"={{ $('format data request').item.json.priority }}","message":"={{ $('format data request').item.json.message }}","user":"={{ $('format data request').item.json.user }}","execution_id":"={{ $('format data request').item.json.execution_id }}","format_data_request_date_1_1":"={{ $('format data request').item.json.date }}","flow":"={{ $('format data request').item.json.flow }}"},"matchingColumns":["category","date","priority","message","user","execution_id","format_data_request_date_1_1","flow"],"schema":[{"id":"category","displayName":"category","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"message","displayName":"message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"user","displayName":"user","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"execution_id","displayName":"execution_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"format_data_request_date_1_1","displayName":"format_data_request_date_1_1","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"flow","displayName":"flow","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[192,944],"name":"execute response-channels-subflow","id":"4f978ecc-d0cb-426f-96ef-6e87c00e7923"},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Asistente Interno - Formulario de Solicitud</title>\n    \n    <!-- ========== ESTILOS CSS ========== -->\n    <style>\n        /* Reset y variables CSS */\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        :root {\n            --primary: #4f46e5;\n            --primary-hover: #4338ca;\n            --primary-light: rgba(79, 70, 229, 0.1);\n            --success: #10b981;\n            --success-light: rgba(16, 185, 129, 0.1);\n            --error: #ef4444;\n            --error-light: rgba(239, 68, 68, 0.1);\n            --text-dark: #1e293b;\n            --text-muted: #64748b;\n            --bg-light: #f8fafc;\n            --bg-white: #ffffff;\n            --border: #e2e8f0;\n            --shadow: 0 4px 24px -8px rgba(79, 70, 229, 0.15);\n            --shadow-hover: 0 8px 32px -8px rgba(79, 70, 229, 0.25);\n            --radius: 12px;\n        }\n\n        /* Estilos del body y fondo */\n        body {\n            font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;\n            background: linear-gradient(135deg, var(--bg-light) 0%, #e0e7ff 50%, #f0e6ff 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 20px;\n            line-height: 1.6;\n        }\n\n        /* Contenedor principal del formulario */\n        .form-container {\n            background: var(--bg-white);\n            border-radius: var(--radius);\n            box-shadow: var(--shadow);\n            width: 100%;\n            max-width: 480px;\n            padding: 40px;\n            animation: fadeIn 0.5s ease-out;\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(20px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        /* Header del formulario */\n        .form-header {\n            text-align: center;\n            margin-bottom: 32px;\n        }\n\n        .form-icon {\n            width: 64px;\n            height: 64px;\n            background: linear-gradient(135deg, var(--primary) 0%, #7c3aed 100%);\n            border-radius: 16px;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            margin: 0 auto 16px;\n            box-shadow: 0 4px 20px -4px rgba(79, 70, 229, 0.4);\n        }\n\n        .form-icon svg {\n            width: 32px;\n            height: 32px;\n            color: white;\n        }\n\n        .form-title {\n            font-size: 24px;\n            font-weight: 700;\n            color: var(--text-dark);\n            margin-bottom: 8px;\n        }\n\n        .form-subtitle {\n            font-size: 14px;\n            color: var(--text-muted);\n        }\n\n        /* Grupos de campos */\n        .form-group {\n            margin-bottom: 20px;\n        }\n\n        .form-label {\n            display: flex;\n            align-items: center;\n            gap: 8px;\n            font-size: 14px;\n            font-weight: 600;\n            color: var(--text-dark);\n            margin-bottom: 8px;\n        }\n\n        .form-label svg {\n            width: 16px;\n            height: 16px;\n            color: var(--primary);\n        }\n\n        /* Inputs, textarea y select */\n        .form-input,\n        .form-textarea,\n        .form-select {\n            width: 100%;\n            padding: 14px 16px;\n            font-size: 15px;\n            border: 2px solid var(--border);\n            border-radius: 10px;\n            background: var(--bg-light);\n            color: var(--text-dark);\n            transition: all 0.2s ease;\n            outline: none;\n        }\n\n        .form-input:focus,\n        .form-textarea:focus,\n        .form-select:focus {\n            border-color: var(--primary);\n            background: var(--bg-white);\n            box-shadow: 0 0 0 4px var(--primary-light);\n        }\n\n        .form-input::placeholder,\n        .form-textarea::placeholder {\n            color: var(--text-muted);\n        }\n\n        .form-textarea {\n            min-height: 120px;\n            resize: vertical;\n            font-family: inherit;\n        }\n\n        .form-select {\n            cursor: pointer;\n            appearance: none;\n            background-image: url(\"data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none' stroke='%2364748b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E\");\n            background-repeat: no-repeat;\n            background-position: right 12px center;\n            padding-right: 44px;\n        }\n\n        /* Texto de ayuda */\n        .form-hint {\n            font-size: 12px;\n            color: var(--text-muted);\n            margin-top: 6px;\n        }\n\n        /* Mensajes de feedback */\n        .feedback {\n            padding: 14px 16px;\n            border-radius: 10px;\n            font-size: 14px;\n            display: flex;\n            align-items: center;\n            gap: 10px;\n            margin-bottom: 20px;\n            animation: shake 0.4s ease-in-out;\n        }\n\n        @keyframes shake {\n            0%, 100% { transform: translateX(0); }\n            20%, 60% { transform: translateX(-4px); }\n            40%, 80% { transform: translateX(4px); }\n        }\n\n        .feedback.success {\n            background: var(--success-light);\n            border: 1px solid var(--success);\n            color: var(--success);\n            animation: fadeIn 0.3s ease-out;\n        }\n\n        .feedback.error {\n            background: var(--error-light);\n            border: 1px solid var(--error);\n            color: var(--error);\n        }\n\n        .feedback svg {\n            width: 20px;\n            height: 20px;\n            flex-shrink: 0;\n        }\n\n        /* Botón de envío */\n        .form-button {\n            width: 100%;\n            padding: 16px 24px;\n            font-size: 16px;\n            font-weight: 600;\n            color: white;\n            background: linear-gradient(135deg, var(--primary) 0%, #7c3aed 100%);\n            border: none;\n            border-radius: 10px;\n            cursor: pointer;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            gap: 10px;\n            transition: all 0.3s ease;\n            box-shadow: 0 4px 16px -4px rgba(79, 70, 229, 0.4);\n        }\n\n        .form-button:hover:not(:disabled) {\n            transform: translateY(-2px);\n            box-shadow: var(--shadow-hover);\n        }\n\n        .form-button:active:not(:disabled) {\n            transform: translateY(0);\n        }\n\n        .form-button:disabled {\n            opacity: 0.7;\n            cursor: not-allowed;\n        }\n\n        .form-button svg {\n            width: 20px;\n            height: 20px;\n        }\n\n        /* Animación de spinner */\n        .spinner {\n            animation: spin 1s linear infinite;\n        }\n\n        @keyframes spin {\n            from { transform: rotate(0deg); }\n            to { transform: rotate(360deg); }\n        }\n\n        /* Footer */\n        .form-footer {\n            text-align: center;\n            margin-top: 24px;\n            font-size: 12px;\n            color: var(--text-muted);\n        }\n\n        /* Responsive */\n        @media (max-width: 520px) {\n            .form-container {\n                padding: 28px 24px;\n            }\n\n            .form-title {\n                font-size: 20px;\n            }\n\n            .form-icon {\n                width: 56px;\n                height: 56px;\n            }\n\n            .form-icon svg {\n                width: 28px;\n                height: 28px;\n            }\n        }\n    </style>\n</head>\n<body>\n    <!-- ========== ESTRUCTURA HTML ========== -->\n    <div class=\"form-container\">\n        <!-- Header -->\n        <div class=\"form-header\">\n            <div class=\"form-icon\">\n                <!-- Icono de mensaje -->\n                <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                    <path d=\"M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z\"></path>\n                </svg>\n            </div>\n            <h1 class=\"form-title\">Asistente Interno</h1>\n            <p class=\"form-subtitle\">Envía tu solicitud y te ayudaremos lo antes posible</p>\n        </div>\n\n        <!-- Formulario -->\n        <form id=\"requestForm\">\n            <!-- Campo: Usuario -->\n            <div class=\"form-group\">\n                <label class=\"form-label\" for=\"email\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                        <path d=\"M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2\"></path>\n                        <circle cx=\"12\" cy=\"7\" r=\"4\"></circle>\n                    </svg>\n                    Tu Email\n                </label>\n                <input \n                    type=\"text\" \n                    id=\"user\" \n                    name=\"user\" \n                    class=\"form-input\" \n                    placeholder=\"Ingresa tu usuario\"\n                    required\n                    minlength=\"2\"\n                    maxlength=\"50\"\n                >\n            </div>\n\n            <!-- Campo: Mensaje -->\n            <div class=\"form-group\">\n                <label class=\"form-label\" for=\"message\">\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                        <path d=\"M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z\"></path>\n                    </svg>\n                    Tu mensaje\n                </label>\n                <textarea \n                    id=\"message\" \n                    name=\"message\" \n                    class=\"form-textarea\" \n                    placeholder=\"Cuéntanos en qué podemos ayudarte...\"\n                    required\n                    minlength=\"10\"\n                    maxlength=\"1000\"\n                ></textarea>\n                <p class=\"form-hint\">Mínimo 10 caracteres (<span id=\"charCount\">0</span>/10)</p>\n            </div>\n\n\n            <!-- Contenedor para mensajes de feedback -->\n            <div id=\"feedbackContainer\"></div>\n\n            <!-- Botón de envío -->\n            <button type=\"submit\" id=\"submitBtn\" class=\"form-button\">\n                <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\">\n                    <line x1=\"22\" y1=\"2\" x2=\"11\" y2=\"13\"></line>\n                    <polygon points=\"22 2 15 22 11 13 2 9 22 2\"></polygon>\n                </svg>\n                <span id=\"btnText\">Enviar solicitud</span>\n            </button>\n        </form>\n\n        <!-- Footer -->\n        <p class=\"form-footer\">Tus datos están seguros con nosotros 🔒</p>\n    </div>\n\n    <!-- ========== JAVASCRIPT ========== -->\n    <script>\n        // URL del webhook de n8n\n        const WEBHOOK_URL = 'https://overstoutly-unflavourous-alyvia.ngrok-free.dev/webhook/intern-assistant';\n\n        // Referencias a elementos del DOM\n        const form = document.getElementById('requestForm');\n        const submitBtn = document.getElementById('submitBtn');\n        const btnText = document.getElementById('btnText');\n        const feedbackContainer = document.getElementById('feedbackContainer');\n        const messageTextarea = document.getElementById('message');\n        const charCount = document.getElementById('charCount');\n\n        // Contador de caracteres en tiempo real\n        messageTextarea.addEventListener('input', function() {\n            charCount.textContent = this.value.length;\n        });\n\n        // Función para mostrar feedback (éxito o error)\n        function showFeedback(type, message) {\n            const icons = {\n                success: `<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M22 11.08V12a10 10 0 1 1-5.93-9.14\"></path><polyline points=\"22 4 12 14.01 9 11.01\"></polyline></svg>`,\n                error: `<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"12\" r=\"10\"></circle><line x1=\"12\" y1=\"8\" x2=\"12\" y2=\"12\"></line><line x1=\"12\" y1=\"16\" x2=\"12.01\" y2=\"16\"></line></svg>`\n            };\n\n            feedbackContainer.innerHTML = `\n                <div class=\"feedback ${type}\">\n                    ${icons[type]}\n                    <span>${message}</span>\n                </div>\n            `;\n\n            // Auto-ocultar mensaje de éxito después de 5 segundos\n            if (type === 'success') {\n                setTimeout(() => {\n                    feedbackContainer.innerHTML = '';\n                }, 5000);\n            }\n        }\n\n        // Función para actualizar estado del botón\n        function setButtonState(isLoading) {\n            submitBtn.disabled = isLoading;\n            \n            if (isLoading) {\n                btnText.innerHTML = `\n                    <svg class=\"spinner\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" style=\"width:20px;height:20px;margin-right:8px;\">\n                        <line x1=\"12\" y1=\"2\" x2=\"12\" y2=\"6\"></line>\n                        <line x1=\"12\" y1=\"18\" x2=\"12\" y2=\"22\"></line>\n                        <line x1=\"4.93\" y1=\"4.93\" x2=\"7.76\" y2=\"7.76\"></line>\n                        <line x1=\"16.24\" y1=\"16.24\" x2=\"19.07\" y2=\"19.07\"></line>\n                        <line x1=\"2\" y1=\"12\" x2=\"6\" y2=\"12\"></line>\n                        <line x1=\"18\" y1=\"12\" x2=\"22\" y2=\"12\"></line>\n                        <line x1=\"4.93\" y1=\"19.07\" x2=\"7.76\" y2=\"16.24\"></line>\n                        <line x1=\"16.24\" y1=\"7.76\" x2=\"19.07\" y2=\"4.93\"></line>\n                    </svg>\n                    Enviando...\n                `;\n            } else {\n                btnText.innerHTML = `\n                    <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" style=\"width:20px;height:20px;margin-right:8px;\">\n                        <line x1=\"22\" y1=\"2\" x2=\"11\" y2=\"13\"></line>\n                        <polygon points=\"22 2 15 22 11 13 2 9 22 2\"></polygon>\n                    </svg>\n                    Enviar solicitud\n                `;\n            }\n        }\n\n        // Validación personalizada\n        function validateForm() {\n            const user = document.getElementById('user').value.trim();\n            const message = messageTextarea.value.trim();\n\n            if (user.length < 2) {\n                showFeedback('error', 'El nombre debe tener al menos 2 caracteres');\n                return false;\n            }\n\n            if (message.length < 10) {\n                showFeedback('error', 'El mensaje debe tener al menos 10 caracteres');\n                return false;\n            }\n\n            return true;\n        }\n\n        // Manejador del envío del formulario\n        form.addEventListener('submit', async function(e) {\n            e.preventDefault();\n            \n            // Limpiar feedback anterior\n            feedbackContainer.innerHTML = '';\n\n            // Validar formulario\n            if (!validateForm()) {\n                return;\n            }\n\n            // Obtener valores del formulario\n            const formData = {\n                user: document.getElementById('user').value.trim(),\n                message: messageTextarea.value.trim(),\n                date: new Date().toISOString()\n            };\n\n            // Mostrar estado de carga\n            setButtonState(true);\n\n            try {\n                // Enviar datos al webhook\n                const response = await fetch(WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json'\n                    },\n                    body: JSON.stringify(formData)\n                });\n\n                if (!response.ok) {\n                    throw new Error(`Error del servidor: ${response.status}`);\n                }\n\n                // Éxito: mostrar mensaje y limpiar formulario\n                showFeedback('success', '¡Solicitud enviada con éxito! Te responderemos pronto.');\n                form.reset();\n                charCount.textContent = '0';\n\n            } catch (error) {\n                // Error: mostrar mensaje\n                console.error('Error al enviar:', error);\n                showFeedback('error', 'No se pudo enviar la solicitud. Por favor, intenta de nuevo.');\n            } finally {\n                // Restaurar botón\n                setButtonState(false);\n            }\n        });\n    </script>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-592,736],"id":"98efb38d-a352-474c-ae90-2c0a7e9c0bbe","name":"frontend connection","onError":"continueErrorOutput"},{"parameters":{"errorMessage":"Error en el front"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[-288,720],"id":"2ffce714-59db-438a-803b-d6fd89be7e02","name":"Stop and Error"}],"connections":{"Webhook":{"main":[[{"node":"frontend connection","type":"main","index":0}],[{"node":"format data request","type":"main","index":0}]]},"is empty & more than 10 char?":{"main":[[{"node":"execute department classification","type":"main","index":0}],[{"node":"failed","type":"main","index":0}]]},"format data request":{"main":[[{"node":"is empty & more than 10 char?","type":"main","index":0}]]},"execute department classification":{"main":[[{"node":"execute response-channels-subflow","type":"main","index":0}]]},"execute response-channels-subflow":{"main":[[{"node":"response to webhook","type":"main","index":0}]]},"frontend connection":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"StBPjbsAlGbRpr8X"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"761f1d51-abdc-459a-bdb0-f21d43810159","triggerCount":1,"shared":[{"updatedAt":"2026-01-31T04:53:50.676Z","createdAt":"2026-01-31T04:53:50.676Z","role":"workflow:owner","workflowId":"5b5CzqjYWtgXE0EQ","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[{"updatedAt":"2026-02-01T12:01:28.912Z","createdAt":"2026-02-01T12:01:28.912Z","id":"D41uIYCdyy3xyDBW","name":"Support"},{"updatedAt":"2026-02-01T12:05:02.223Z","createdAt":"2026-02-01T12:05:02.223Z","id":"QfyKroogjf5BKUrs","name":"Frontend"},{"updatedAt":"2026-02-01T12:05:12.600Z","createdAt":"2026-02-01T12:05:12.600Z","id":"S7pF5EhlzvBrSr2S","name":"Backend"}]}