reminder_agent-R6Ymh8HEJYty7OZL.json
{"updatedAt":"2026-03-23T23:49:46.000Z","createdAt":"2026-03-23T23:47:11.621Z","id":"R6Ymh8HEJYty7OZL","name":"reminder_agent","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"f8e9b393-4a15-45e2-a9ca-d2f0f708ec38","name":"id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"471b2cde-d57d-425d-8f96-01852b10e016","name":"name","value":"={{ $json.message.chat.first_name }}","type":"string"},{"id":"d14dbd56-46c7-4d9e-8fe2-ccb0f1093b89","name":"message","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,-112],"id":"fec5d43c-2e7e-40ed-8e26-71600cd267a6","name":"format data request"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"=Eres un asistente personal inteligente especializado en la gestión de eventos en Google Calendar.\n\nTu objetivo principal es ayudar al usuario a crear eventos a partir de mensajes de texto o imágenes, extrayendo automáticamente la información relevante.\n\nFecha actual:\n{{ DateTime.local().toFormat('yyyy-MM-dd HH:mm') }}\n\n---\n\n🎯 FUNCIONES PRINCIPALES\n\n1. CREACIÓN DE EVENTOS\nDebes extraer o inferir los siguientes campos dentro de la variable {{ $json.message }}:\n\n- event_title: título del evento (en mayúsculas)\n- start_date: fecha y hora de inicio (formato YYYY-MM-DD HH:mm:ss)\n- end_date: fecha y hora de finalización (formato YYYY-MM-DD HH:mm:ss)\n\n2. ANÁLISIS DE IMÁGENES\nSi el usuario envía una imagen:\n- Analiza el contenido (invitaciones, flyers, capturas, etc.)\n- Extrae título, fecha, hora y ubicación si existe\n- Si hay múltiples posibles eventos, elige el más relevante\n\n---\n\n📌 REGLAS IMPORTANTES\n\n- Si no se especifica end_date:\n  → asigna automáticamente una duración de 2 horas desde start_date\n\n- Si falta la hora:\n  → asume una hora razonable según el contexto (ej: 09:00 para eventos generales)\n\n- Si falta el título:\n  → genera uno claro y corto basado en el contexto\n\n- Siempre genera:\n  event_description: descripción breve y clara del evento\n\n---\n\n🔔 RECORDATORIOS\n\nTodos los eventos deben incluir:\n- Recordatorio 2 horas antes vía Google Calendar\n- Recordatorio adicional para enviar por Telegram\n\n---\n\n⚠️ VALIDACIÓN\n\nANTES de crear el evento:\n- Si hay ambigüedad en fecha/hora → pide confirmación\n- Si toda la info está clara → procede directamente\n\n---\n\n🧾 OUTPUT\n\nDevuelve SIEMPRE un JSON estructurado así:\n\n{\n  \"event_title\": \"...\",\n  \"start_date\": \"YYYY-MM-DD HH:mm:ss\",\n  \"end_date\": \"YYYY-MM-DD HH:mm:ss\",\n  \"event_description\": \"...\",\n  \"needs_confirmation\": true/false,\n  \"missing_fields\": []\n}\n\n---\n\n💬 COMPORTAMIENTO\n\n- Responde en el idioma del usuario\n- Sé claro, directo y útil\n- Si el mensaje es ambiguo, guía al usuario con preguntas concretas"}},"id":"b9a218b5-b42d-4dab-98f6-4f2ea3a35d73","name":"Calendar AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[336,-208],"typeVersion":1.7},{"parameters":{"endpointUrl":"https://n8n-production-64da3.up.railway.app/mcp/calendar-tools","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[528,16],"id":"ebc04b25-c201-4135-87dc-e26ad5260c13","name":"MCP Client"},{"parameters":{"model":"gpt-4o","options":{}},"id":"bdfe7d3b-fe75-4419-ab97-41797b51d078","name":"schedule agent","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[272,16],"typeVersion":1},{"parameters":{"amount":3},"id":"86a03cb1-97bd-49bf-b226-ed814fd4f763","name":"wait for image analysis","type":"n8n-nodes-base.wait","position":[48,-112],"webhookId":"d4d6fc13-d8ad-42b6-b4dd-e922b5534282","typeVersion":1.1},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-128,-320],"id":"32c17546-1e10-48fe-97e0-74812116fb36","name":"Analyze image","credentials":{}},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"message\": \" {{ $json[0].content[0].text }} \"\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[96,-304],"id":"cc477645-ba41-46d0-94b9-1a47ee3d8698","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8ee66d7c-aaae-44a9-9168-2dc708b95893","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-384,-224],"id":"c96838e8-584c-4efa-999c-9bd517ddf070","name":"If"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-624,-192],"id":"d412c72f-8cfa-4062-b824-4e01c8fb302f","name":"Telegram Trigger","webhookId":"a69d71a5-0a46-4663-a018-d1d19dbe5d64","credentials":{"telegramApi":{"id":"CtkNM5C8ip0f21E3","name":"reminder helper"}}}],"connections":{"format data request":{"main":[[{"node":"wait for image analysis","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Calendar AI Agent","type":"ai_tool","index":0}]]},"schedule agent":{"ai_languageModel":[[{"node":"Calendar AI Agent","type":"ai_languageModel","index":0}]]},"wait for image analysis":{"main":[[{"node":"Calendar AI Agent","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Calendar AI Agent","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6fabddb8-02cf-46c5-b16f-855551cca660","triggerCount":0,"shared":[{"updatedAt":"2026-03-23T23:47:11.633Z","createdAt":"2026-03-23T23:47:11.633Z","role":"workflow:owner","workflowId":"R6Ymh8HEJYty7OZL","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[]}