response-channels-subflow-mNcUL7DeNqsYmBTy.json
{"updatedAt":"2026-02-01T12:49:12.000Z","createdAt":"2026-01-31T15:06:41.464Z","id":"mNcUL7DeNqsYmBTy","name":"Response-channels-subflow","active":false,"isArchived":false,"nodes":[{"parameters":{"authentication":"webhook","content":"=🆕 Nueva Solicitud\n──────────────────────────────\n👤  Solicitante: {{ $('Start').item.json.user }}\n📁  Departamento: {{ $('Start').item.json.category }}\n💬  Mensaje: {{ $('Start').item.json.message }}\n🚨  Prioridad:  {{ $('Start').item.json.priority }}\n📅 Fecha: {{ $('Start').item.json.date }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[696,1856],"id":"4f0d4c2f-8f2a-4c69-a7d3-ceb2681fd1cd","name":"message to others","webhookId":"bc25ef93-20a5-4b88-8dee-a83c07ac8f69","credentials":{"discordWebhookApi":{"id":"evtigIv0C07EjMai","name":"Discord other department"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1hqNnDtCiMT-xfdhWoC4ZO6SNUC4cszl_gEGGU9-MClg","mode":"list","cachedResultName":"otherDepartment-request","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqNnDtCiMT-xfdhWoC4ZO6SNUC4cszl_gEGGU9-MClg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1hqNnDtCiMT-xfdhWoC4ZO6SNUC4cszl_gEGGU9-MClg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Usuario":"={{ $('Start').item.json.user }}","Mensaje":"={{ $('Start').item.json.message }}","Fecha":"={{ $('Start').item.json.format_data_request_date_1_1 }}","Categoría":"={{ $('Start').item.json.category }}","Prioridad":"={{ $('Start').item.json.priority }}"},"matchingColumns":["Usuario"],"schema":[{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Mensaje","displayName":"Mensaje","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha","displayName":"Fecha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Categoría","displayName":"Categoría","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prioridad","displayName":"Prioridad","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[696,1664],"id":"57de1b44-9635-40b3-8bd5-9904ed22bedc","name":"other department requests","credentials":{"googleSheetsOAuth2Api":{"id":"XYikiH9XDs05VwwQ","name":"Google Sheets account"}}},{"parameters":{"sendTo":"angiemarin0707@gmail.com","subject":"=Nueva petición -  {{ $('Start').item.json.user }}","message":"=<!DOCTYPE html> <html lang=\"es\"> <head> <meta charset=\"UTF-8\"> <title>Nueva Solicitud de Soporte</title> </head> <body style=\"margin:0; padding:0; font-family: Arial, sans-serif; background-color:#f4f4f4;\">   <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#f4f4f4; padding:20px 0;\">     <tr>       <td align=\"center\">         <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.1);\">             <!-- Header -->             <tr>             <td style=\"background-color:#143F6A; padding:20px;\">                 <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">                 <tr>                     <!-- Columna del icono -->                     <td width=\"70\" valign=\"middle\" style=\"text-align:left;\">                     <img src=\"https://edwarcastillo.netlify.app/assets/logo.96a48fd2.png\" alt=\"Logo\" width=\"60\" style=\"display:block;\">                     </td>                     <!-- Columna del mensaje -->                     <td valign=\"middle\" style=\"text-align:right; padding-right:15px;\">                     <span style=\"color:#ffffff; font-size:22px; font-weight:normal;\">Nueva Solicitud de Soporte</span>                     </td>                 </tr>                 </table>             </td>             </tr>           <!-- Body -->           <tr>             <td style=\"padding:25px;\">               <!-- Mensaje destacado -->               <div style=\"background-color:#EDF8F9; border-left:6px solid #067CBC; padding:20px; border-radius:6px; font-size:16px; color:#143F6A; text-align:center; margin-bottom:25px; box-shadow:0 2px 4px rgba(0,0,0,0.05);\">                 \"{{ $('Start').item.json.message }}\"               </div>                              <!-- Datos adicionales -->               <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"font-size:16px; color:#143F6A;\">                 <tr>                   <td style=\"padding:5px 0;\"><strong>Solicitante:</strong> {{ $('Start').item.json.user }} </td>                 </tr>                 <tr>                   <td style=\"padding:5px 0;\"><strong>Categoría:</strong> {{ $json.categoria }}</td>                 </tr>                 <tr>                   <td style=\"padding:5px 0;\"><strong>Prioridad:</strong> {{ $('Start').item.json.priority }} </td>                 </tr>                 <tr>                   <td style=\"padding:5px 0;\"><strong>Fecha:</strong> {{ $('Start').item.json.format_data_request_date_1_1 }} </td>                 </tr>               </table>                              <!-- Divider -->               <hr style=\"border:none; border-top:1px solid #067CBC; margin:25px 0;\">                              <!-- Detalles adicionales -->               <div style=\"background-color:#f0fcfd; color:#143F6A; padding:15px; border-left:5px solid #067CBC; border-radius:4px; font-size:16px;\">                 <strong>Detalles adicionales</strong><br>                 Flujo: {{ $('Start').item.json.flow }} <br>                 ID:   {{ $('Start').item.json.execution_id }}             </div>             </td>           </tr>                      <!-- Footer -->           <tr>             <td style=\"background-color:#FFCE34; text-align:center; padding:15px; font-size:14px; color:#143F6A;\">               Este mensaje fue generado automáticamente. Por favor no responder.             </td>           </tr>                    </table>       </td>     </tr>   </table> </body> </html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[696,1472],"id":"bd40e134-3db1-439e-ad97-102a5dc28008","name":"Facilities notification","webhookId":"d58fe110-ad16-43e2-a7c3-c9ba47fbff08","credentials":{"gmailOAuth2":{"id":"n4nMSlGmqYKaTedk","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"600dc46a-3a8f-429a-ad5f-af327ab11623","name":"=Origin","value":"= {{ $prevNode.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1040,1184],"id":"d8639bf0-da0f-4cf9-9866-43cc4ed8db40","name":"format data response"},{"parameters":{"authentication":"webhook","content":"=🆕 Nueva Solicitud\n──────────────────────────────\n👤  Solicitante: {{ $('Start').item.json.user }}\n📁  Departamento: {{ $('Start').item.json.category }}\n💬  Mensaje: {{ $('Start').item.json.message }}\n🚨  Prioridad:  {{ $('Start').item.json.priority }}\n📅 Fecha: {{ $('Start').item.json.date }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[696,1280],"id":"cd8675bd-47f1-450d-9356-3d5d40b41e99","name":"message to facilities","webhookId":"bc25ef93-20a5-4b88-8dee-a83c07ac8f69","credentials":{"discordWebhookApi":{"id":"RsEqg8V8BA7s33Z4","name":"Discord facilities department"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"2f95b078-04de-80f8-afd5-ea5fd44f8381","mode":"list","cachedResultName":"legal-department","cachedResultUrl":"https://www.notion.so/2f95b07804de80f8afd5ea5fd44f8381"},"title":"={{ $('Start').item.json.execution_id }}-{{ $('Start').item.json.user }}","propertiesUi":{"propertyValues":[{"key":"Name|title","title":"={{ $('Start').item.json.user }}"},{"key":"Date|date","date":"={{ $('Start').item.json.format_data_request_date_1_1 }}"},{"key":"Message|rich_text","textContent":"={{ $('Start').item.json.message }}"},{"key":"Priority|multi_select","multiSelectValue":"={{ $('Start').item.json.priority }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[696,1088],"id":"6ce6ca89-bc96-4237-8a23-359f69f0c642","name":"Create a database page","credentials":{"notionApi":{"id":"vrw2w32xRB1dc0XE","name":"Notion account"}}},{"parameters":{"authentication":"webhook","content":"=🆕 Nueva Solicitud\n──────────────────────────────\n👤  Solicitante: {{ $('Start').item.json.user }}\n📁  Departamento: {{ $('Start').item.json.category }}\n💬  Mensaje: {{ $('Start').item.json.message }}\n🚨  Prioridad:  {{ $('Start').item.json.priority }}\n📅 Fecha: {{ $('Start').item.json.date }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[696,896],"id":"30998019-bf88-4125-a168-41c1d4303250","name":"message to legal","webhookId":"bc25ef93-20a5-4b88-8dee-a83c07ac8f69","credentials":{"discordWebhookApi":{"id":"Z1jSH6pHUwTNKGWy","name":"Discord legal department"}}},{"parameters":{"authentication":"webhook","content":"=🆕 Nueva Solicitud\n──────────────────────────────\n👤  Solicitante: {{ $('Start').item.json.user }}\n📁  Departamento: {{ $('Start').item.json.category }}\n💬  Mensaje: {{ $('Start').item.json.message }}\n🚨  Prioridad:  {{ $('Start').item.json.priority }}\n📅 Fecha: {{ $('Start').item.json.date }}","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[696,304],"id":"59e4f7ec-98f2-4734-8b9f-204caccdb2af","name":"message to ti","webhookId":"986d7cda-2605-4f08-b043-01c0706fc3a6","credentials":{"discordWebhookApi":{"id":"KwkIHuYUD4DkLogL","name":"discord ti department"}}},{"parameters":{"workflowInputs":{"values":[{"name":"category","type":"any"},{"name":"date","type":"any"},{"name":"priority","type":"any"},{"name":"message","type":"any"},{"name":"user","type":"any"},{"name":"execution_id","type":"any"},{"name":"format_data_request_date_1_1","type":"any"},{"name":"flow","type":"any"}]}},"id":"d9bf704b-bd65-46c1-a259-4b9431c30e79","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-96,1184]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.category }}","rightValue":"it","operator":{"type":"string","operation":"equals"},"id":"adedd324-e648-41db-8fe4-a3a4d640de19"}],"combinator":"and"},"renameOutput":true,"outputKey":"it"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4db4a934-eeb5-48bf-9057-1dd7dd4f51cd","leftValue":"={{ $json.category }}","rightValue":"legal","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"legal"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ca619c22-a0bc-4a58-809b-659b743e2d5a","leftValue":"={{ $json.category }}","rightValue":"facilities","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"facilities"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"other"}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[128,1152],"id":"94ad91d0-9408-4fc5-9899-b7545a24a902","name":"department router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6c612a64-6a9f-474a-b898-72beb20ffc00","leftValue":"={{ $json.priority }}","rightValue":"high","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[352,600],"id":"089f44b1-ab72-43d5-bd58-af7a87702cfb","name":"Filter high requests"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[576,720],"id":"39a15b19-c354-4df7-bd5f-84f6847c169b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ JSON.stringify($json) }}","hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"=Usa las herramientas Date & Time, Google Calendar, SerpAPI y Gmail para completar las siguientes tareas:\n1. Obten la fecha y hora actual con Date & Time.\n2. Agenda un evento en Google Calendar lo antes posible con el usuario para resolver su problema.\nDuración: máximo 15 minutos.\nFecha: el primer espacio disponible a partir del momento\nactual.\nAñade un titulo descriptivo: \"Reunión para resolver tu problema\".\n3. Consulta SerpAPI (búsqueda en Google) para encontrar posibles soluciones al problema del usuario y redacta un resumen claro con tu respuesta fundamentada con los links de las paginas o articulos que usaste para investigar.\n4. Envia un correo al usuario usando Gmail, formateado en HTML, que incluya:\nUna sección \"Detalles de la reunión con la fecha y hora exacta del evento.\nUna sección \"Posibles soluciones encontradas con el resumen obtenido de SerpAPI cada una de las posibles soluciones con fundamento, usando al pie de cada una el link que se usa para investigar y dar esa respuesta.\nUn diseño HTML fácil de leer, con secciones separadas y encabezados.\n5. La respuesta y el correo deben estar completamente en español."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[608,496],"id":"0d4082de-27b7-4c48-84e6-65071440df66","name":"AI Agent"},{"parameters":{"endpointUrl":"http://localhost:5678/mcp/tools","serverTransport":"sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[832,720],"id":"ac007c52-d6f8-4078-9871-0f77a0ea59a4","name":"MCP Client"}],"connections":{"Create a database page":{"main":[[{"node":"format data response","type":"main","index":0}]]},"Facilities notification":{"main":[[{"node":"format data response","type":"main","index":0}]]},"message to ti":{"main":[[{"node":"format data response","type":"main","index":0}]]},"message to legal":{"main":[[{"node":"format data response","type":"main","index":0}]]},"message to facilities":{"main":[[{"node":"format data response","type":"main","index":0}]]},"other department requests":{"main":[[{"node":"format data response","type":"main","index":0}]]},"message to others":{"main":[[{"node":"format data response","type":"main","index":0}]]},"format data response":{"main":[[]]},"Start":{"main":[[{"node":"department router","type":"main","index":0}]]},"department router":{"main":[[{"node":"message to ti","type":"main","index":0},{"node":"Filter high requests","type":"main","index":0}],[{"node":"Create a database page","type":"main","index":0},{"node":"message to legal","type":"main","index":0}],[{"node":"Facilities notification","type":"main","index":0},{"node":"message to facilities","type":"main","index":0}],[{"node":"message to others","type":"main","index":0},{"node":"other department requests","type":"main","index":0}]]},"Filter high requests":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"format data response","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"767fb38b-db8e-451c-bd07-f200854a9fd7","triggerCount":0,"shared":[{"updatedAt":"2026-01-31T15:06:41.467Z","createdAt":"2026-01-31T15:06:41.467Z","role":"workflow:owner","workflowId":"mNcUL7DeNqsYmBTy","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[{"updatedAt":"2026-02-01T12:01:28.912Z","createdAt":"2026-02-01T12:01:28.912Z","id":"D41uIYCdyy3xyDBW","name":"Support"},{"updatedAt":"2026-02-01T12:02:08.191Z","createdAt":"2026-02-01T12:02:08.191Z","id":"EX6hVLuyeZgSvBzs","name":"Channels"}]}