salessupportagent-7200kN4fRDiskDt2.json
{"updatedAt":"2026-01-31T04:51:41.000Z","createdAt":"2026-01-30T23:51:37.523Z","id":"7200kN4fRDiskDt2","name":"SalesSupportAgent","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Lead","formDescription":"Quiero comprar tu producto","formFields":{"values":[{"fieldLabel":"Name","placeholder":"Nombre","requiredField":true},{"fieldLabel":"Email","fieldType":"email","placeholder":"Email","requiredField":true},{"fieldLabel":"Mensaje","fieldType":"textarea","placeholder":"Manda tu mensaje","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[16,320],"id":"afca69c5-9b15-422f-a6d9-77ade57e3633","name":"On form submission","webhookId":"5940a9c9-7b0d-4097-abb9-976402f94dea"},{"parameters":{"sendTo":"={{ $('Normalize data').item.json.email }}","subject":"Tranqui, este es un mensaje del equipo de soporte","message":"=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; background-color:#f4f6f8; padding:20px;\">\n    <table width=\"100%\" bgcolor=\"#ffffff\" style=\"max-width:600px; margin:auto; padding:20px; border-radius:8px;\">\n      <tr>\n        <td>\n          <h2 style=\"color:#2c3e50;\">¡Gracias por escribirnos, {{name}}! 😊</h2>\n\n          <p style=\"color:#555;\">\n            Nos alegra saber que estás disfrutando nuestro producto.\n            Queremos ayudarte a resolver el detalle que nos comentas.\n          </p>\n\n          <p style=\"color:#555;\">\n            ¿Podrías darnos un poco más de información sobre el problema?\n            Si tienes capturas o ejemplos, serán de gran ayuda.\n          </p>\n\n          <p style=\"color:#555;\">\n            Estamos aquí para ayudarte 💙  \n            <br>Equipo de Soporte\n          </p>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1968,-16],"id":"4f775b84-d82d-4b85-8a5c-be3335f599ef","name":"Send a support message","webhookId":"24b900ba-2552-4f76-8cc4-fffd0d6740e8","credentials":{"gmailOAuth2":{"id":"n4nMSlGmqYKaTedk","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $('Normalize data').item.json.email }}","subject":"=Aqui te damos la información que solicitaste,  {{ $('Normalize data').item.json.name }}","message":"=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; background-color:#f4f6f8; padding:20px;\">\n    <table width=\"100%\" bgcolor=\"#ffffff\" style=\"max-width:600px; margin:auto; padding:20px; border-radius:8px;\">\n      <tr>\n        <td>\n          <h2 style=\"color:#1f6feb;\">Información sobre nuestro producto 🚀</h2>\n\n          <p style=\"color:#555;\">\n            Hola {{name}},  \n            gracias por tu interés. Aquí encontrarás la información que solicitaste:\n          </p>\n\n          <p style=\"color:#555;\">\n            <strong>CUERPO_AQUI</strong>\n          </p>\n\n          <p style=\"color:#555;\">\n            Si tienes preguntas o deseas una demo, estaremos encantados de ayudarte.\n          </p>\n\n          <p style=\"color:#555;\">— Equipo Comercial</p>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1328,320],"id":"cf01dd0a-1fab-45a9-ae25-097dcf8dfd06","name":"Send an info message","webhookId":"24b900ba-2552-4f76-8cc4-fffd0d6740e8","credentials":{"gmailOAuth2":{"id":"n4nMSlGmqYKaTedk","name":"Gmail account"}}},{"parameters":{"inputText":"={{ $('Normalize data').item.json.message }}","options":{"categories":"Positive, Negative","enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[1264,128],"id":"4eab0caf-3f00-4fcd-9c03-2825e289c748","name":"Sentiment Analysis"},{"parameters":{"authentication":"webhook","content":"=🚀 **Nueva solicitud de DEMO**\n\nUna persona mostró interés en conocer el producto más a fondo 👀\n\n👤 **Nombre:** {{ $('Normalize data').item.json.name }}\n✉️ **Email:** {{ $('Normalize data').item.json.email }}\n📝 **Mensaje:**  \n_\"{{ $('Normalize data').item.json.message }}\"_\n\n📌 **Siguiente paso:**  \nContactar al cliente y agendar la demo lo antes posible.\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1328,-64],"id":"e6cc19ab-5419-4284-bbfa-0dae65729ac7","name":"Send a message to discord demo channel","webhookId":"4af22a77-5179-4077-89f0-bf86b9903a41","credentials":{"discordWebhookApi":{"id":"SYHMUDLzaTXYQp7r","name":"Discord Webhook demo"}}},{"parameters":{"authentication":"webhook","content":"=🚨 **ALERTA DE SOPORTE – Cliente insatisfecho**\n\nDetectamos un mensaje con sentimiento negativo ⚠️  \nSe recomienda atención prioritaria.\n\n👤 **Nombre:** {{ $('Normalize data').item.json.name }}\n✉️ **Email:** {{ $('Normalize data').item.json.email }}\n📝 **Mensaje del cliente:**  \n_\"{{ $('Normalize data').item.json.message }}\"_\n\n⏱️ **Acción sugerida:**  \nResponder con empatía y ofrecer solución inmediata.\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1680,320],"id":"ab9d1fe3-de6a-47fc-b254-aa48e811ee25","name":"Send a message to discord support channel","webhookId":"4af22a77-5179-4077-89f0-bf86b9903a41","credentials":{"discordWebhookApi":{"id":"1tqixXCurgrmTXKz","name":"Discord Webhook purchases"}}},{"parameters":{"authentication":"webhook","content":"=💰 **¡Nueva compra confirmada!**\n\n🎉 Un cliente acaba de adquirir nuestro producto.\n\n👤 **Cliente:** {{ $('Normalize data').item.json.name }}\n✉️ **Email:** {{ $('Normalize data').item.json.email }}\n\n📦 **Estado:** Venta completada  \n🤝 **Siguiente paso:** Onboarding y seguimiento post-venta\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1328,512],"id":"a2520664-ed18-4783-80d5-076aa92430be","name":"Send a message to discord purchases channel","webhookId":"4af22a77-5179-4077-89f0-bf86b9903a41","credentials":{"discordWebhookApi":{"id":"1tqixXCurgrmTXKz","name":"Discord Webhook purchases"}}},{"parameters":{"sendTo":"={{ $('Normalize data').item.json.email }}","subject":"=Gracias por tu compra,  {{ $('Normalize data').item.json.name }}","message":"=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; background-color:#f4f6f8; padding:20px;\">\n    <table width=\"100%\" bgcolor=\"#ffffff\" style=\"max-width:600px; margin:auto; padding:20px; border-radius:8px;\">\n      <tr>\n        <td>\n          <h2 style=\"color:#27ae60;\">¡Gracias por tu compra, {{name}}! 🎉</h2>\n\n          <p style=\"color:#555;\">\n            Estamos muy felices de darte la bienvenida.\n            Tu compra ha sido procesada con éxito.\n          </p>\n\n          <p style=\"color:#555;\">\n            En breve recibirás más información para comenzar.\n            Si necesitas ayuda, nuestro equipo está para ti.\n          </p>\n\n          <p style=\"color:#555;\">\n            💚 Gracias por confiar en nosotros  \n            <br>El equipo\n          </p>\n        </td>\n      </tr>\n    </table>\n  </body>\n</html>\n","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1328,704],"id":"d1a93a89-3c95-4e33-a43c-a231f1a503cb","name":"Send a purchase message","webhookId":"24b900ba-2552-4f76-8cc4-fffd0d6740e8","credentials":{"gmailOAuth2":{"id":"n4nMSlGmqYKaTedk","name":"Gmail account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1680,704],"id":"d880eb65-73c5-4e36-924f-de017947ab4e","name":"Wait","webhookId":"d985f240-6035-47c9-ac34-c68c98af0205","alwaysOutputData":true},{"parameters":{"authentication":"webhook","content":"=⏰ **Recordatorio – Seguimiento post-venta**\n\nHan pasado algunas horas desde la compra de:\n\n👤 **Cliente:** {{ $('Normalize data').item.json.name }}\n✉️ **Email:** {{ $('Normalize data').item.json.email }}\n\n📌 **Acción sugerida:**  \nVerificar que el cliente esté satisfecho y ofrecer ayuda adicional.\n","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[1968,704],"id":"3a578286-9f81-42fc-b1c3-4cfcfc1bfd4d","name":"Send a reminder message to discord purchases channel","webhookId":"4af22a77-5179-4077-89f0-bf86b9903a41","credentials":{"discordWebhookApi":{"id":"1tqixXCurgrmTXKz","name":"Discord Webhook purchases"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1696,96],"id":"add763d6-3a43-4430-954a-2ecc305922e4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1M3fCLX98PvhxF9hoH_nUCWzrZMhoaeWF_YgFCkytJVk","mode":"list","cachedResultName":"Clientes","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1M3fCLX98PvhxF9hoH_nUCWzrZMhoaeWF_YgFCkytJVk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1M3fCLX98PvhxF9hoH_nUCWzrZMhoaeWF_YgFCkytJVk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nombre":"={{ $('Normalize data').item.json.name }}","email":"={{ $('Normalize data').item.json.email }}","fecha_incidencia":"={{ $('On form submission').item.json.submittedAt }}","error del cliente":"={{ $('Normalize data').item.json.message }}"},"matchingColumns":[],"schema":[{"id":"nombre","displayName":"nombre","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_incidencia","displayName":"fecha_incidencia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"error del cliente","displayName":"error del cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[2176,-16],"id":"a45243cf-60e6-4e64-809f-8d9a5849c6de","name":"Saved incidents","credentials":{"googleSheetsOAuth2Api":{"id":"XYikiH9XDs05VwwQ","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"={{ $('Normalize data').item.json.message }}","options":{"systemMessage":"Genera un mensajde respuesta modo texto que solucione el problema del cliente. Si es genérico, pregúntale como le podemos ayudar y que dé más detalles acerca de su problema"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1616,-128],"id":"97b5f4db-33bb-473b-abf0-0308617f71f8","name":"Reply message"},{"parameters":{"assignments":{"assignments":[{"id":"42156b79-ded7-4b50-ae13-84710ffff14f","name":"name","value":"={{ $json.Name }}","type":"string"},{"id":"f5846b66-9c98-4812-a164-d9529147bfa7","name":"email","value":"={{ $json.Email }}","type":"string"},{"id":"24d852f9-bf20-41d5-b242-b2f845eebcf9","name":"message","value":"={{ $json.Mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,320],"id":"b574f76d-9eec-44b6-9c5c-129655dcce52","name":"Normalize data"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c00fe959-6610-4b41-90d2-9e95ccce315d","leftValue":"={{ $json.email }}","rightValue":"=@hotmail.com","operator":{"type":"string","operation":"notContains"}},{"id":"91b948da-89cc-4988-ab1d-c07019e70138","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[464,320],"id":"3824230e-b43d-4c6a-8d4d-29435c118eec","name":"Exclude hotmail domain"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"=demo","operator":{"type":"string","operation":"equals"},"id":"c44710d1-66c2-4967-b2ec-fc8d7b6898c4"}],"combinator":"and"},"renameOutput":true,"outputKey":"demo"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e180ded2-c145-49cd-a3fd-2e27b2b0daaa","leftValue":"={{ $json.output }}","rightValue":"support","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"support"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1bc283ff-d424-4fb1-bce7-20d229ff4452","leftValue":"={{ $json.output }}","rightValue":"info","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"info"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fc4cd008-b131-4064-9ce9-adb045253733","leftValue":"={{ $json.output }}","rightValue":"purchase","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"purchase"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1040,288],"id":"c2a248c4-8e6b-4197-bbff-0b58fac10fad","name":"Switch through intents"},{"parameters":{"promptType":"define","text":"={{ $json.message }}","options":{"systemMessage":"Analiza el siguiente mensaje de un cliente.\n\nDevuelve SOLO una palabra en minúscula, sin explicación:\n- demo → si quiere una demostración\n- support → si necesita ayuda o tiene un problema\n- info → si pide información general\n- purchase → si quiere comprar o ya compró\n\nMensaje del cliente:\n\"{{ $json.message }}\"\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[688,320],"id":"2bf6ef2e-88c0-4e2e-bca4-cc9c180a0d8b","name":"Recognize intents"}],"connections":{"On form submission":{"main":[[{"node":"Normalize data","type":"main","index":0}]]},"Sentiment Analysis":{"main":[[{"node":"Reply message","type":"main","index":0}],[{"node":"Send a message to discord support channel","type":"main","index":0}]]},"Send a message to discord purchases channel":{"main":[[]]},"Send a purchase message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Send a reminder message to discord purchases channel","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Recognize intents","type":"ai_languageModel","index":0},{"node":"Reply message","type":"ai_languageModel","index":0},{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"Send a support message":{"main":[[{"node":"Saved incidents","type":"main","index":0}]]},"Reply message":{"main":[[{"node":"Send a support message","type":"main","index":0}]]},"Normalize data":{"main":[[{"node":"Exclude hotmail domain","type":"main","index":0}]]},"Exclude hotmail domain":{"main":[[{"node":"Recognize intents","type":"main","index":0}]]},"Switch through intents":{"main":[[{"node":"Send a message to discord demo channel","type":"main","index":0}],[{"node":"Sentiment Analysis","type":"main","index":0}],[{"node":"Send an info message","type":"main","index":0}],[{"node":"Send a message to discord purchases channel","type":"main","index":0},{"node":"Send a purchase message","type":"main","index":0}]]},"Recognize intents":{"main":[[{"node":"Switch through intents","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"On form submission":[{"json":{"Name":"angelica","Email":"angiemarin0707@gmail.com","Mensaje":"Necesito ayuda con su producto, estoy muy contenta con él pero tengo un pequeño error","submittedAt":"2026-01-30T22:09:08.597-05:00","formMode":"test"}}]},"versionId":"fcba75b9-97a7-41f3-a3c5-a8c277b3f8c4","triggerCount":0,"shared":[{"updatedAt":"2026-01-30T23:51:37.543Z","createdAt":"2026-01-30T23:51:37.543Z","role":"workflow:owner","workflowId":"7200kN4fRDiskDt2","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[{"updatedAt":"2026-01-31T04:28:10.172Z","createdAt":"2026-01-31T04:28:10.172Z","id":"unUeEmZTY6pciMlp","name":"Sales"}]}