test-iaagent-oD6kwBfyBo7lEGZZ.json
{"updatedAt":"2026-01-31T04:52:55.000Z","createdAt":"2025-11-26T23:13:42.368Z","id":"oD6kwBfyBo7lEGZZ","name":"test-IAAgent","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Eres un agente expecialista en la redacción de correos electrónicos profesionales. Tienes una herramienta *gmail* que debes usar para este fin. \nDebes enviarlo al corrreo que solicite el usuario. \nLe pedirás que te defina el subject y por otro lado el cuerpo del correo.\nManten una estructura en html con saltos de linea: \nejemplo: \nHola (nombre)\n<br><br>\n(Mensaje del usuario)\n<br><br>\nMuchas gracias"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[416,0],"id":"9976d116-0210-462a-938a-47ba478ddaa3","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[288,208],"id":"af570a7b-4774-42b1-9d23-dfe602fe4765","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[160,-272],"id":"30782392-ceda-4379-97cd-c150bb6bed81","name":"When chat message received","webhookId":"b32a035e-7f9e-4256-aafd-8cf85c2d9e0e"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,208],"id":"aabfac94-4ca0-4f67-97e8-3e3620b36218","name":"Simple Memory"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[576,208],"id":"c6b2dfb8-b5e3-4b74-890a-dee4e790e1c1","name":"Send a message in Gmail","webhookId":"0db42dfd-f928-4716-bef7-ccfe91140f30","credentials":{"gmailOAuth2":{"id":"n4nMSlGmqYKaTedk","name":"Gmail account"}}},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[192,0],"id":"8674c4bf-d961-4673-8481-6f45bac774ea","name":"Telegram Trigger","webhookId":"bc836d73-0dd8-4cf0-ba63-617c79b73541","credentials":{"telegramApi":{"id":"Zhjz8rK2I3JonsMG","name":"Telegram account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"21de416f-34c4-453a-93f5-77d2fadb0f50","triggerCount":0,"shared":[{"updatedAt":"2025-11-26T23:13:42.372Z","createdAt":"2025-11-26T23:13:42.372Z","role":"workflow:owner","workflowId":"oD6kwBfyBo7lEGZZ","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[]}