test-workflow-X4wTvEAVC325PoNi.json
{"updatedAt":"2025-11-26T23:12:29.000Z","createdAt":"2025-11-25T13:31:56.035Z","id":"X4wTvEAVC325PoNi","name":"test-workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ $('On form submission').item.json.Correo }}","subject":"={{ $json.output.asunto }}","message":"={{ $json.output.cuerpo }}","options":{"appendAttribution":false,"ccList":"angiemarin0707@gmail.com"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[80,208],"id":"eb958e23-bd5b-4daa-b98c-c997f8bc151b","name":"Send a message","webhookId":"3c154bde-3eca-488e-bb38-bdd7977253b5","credentials":{"gmailOAuth2":{"id":"n4nMSlGmqYKaTedk","name":"Gmail account"}}},{"parameters":{"formTitle":"¿Que correo quieres mandar?","formDescription":"Envía tu correo personalizado","formFields":{"values":[{"fieldLabel":"Correo","fieldType":"email","placeholder":"Email","requiredField":true},{"fieldLabel":"Titulo","placeholder":"Titulo del correo","requiredField":true},{"fieldLabel":"Cuerpo","placeholder":"Cuerpo del correo ","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.3,"position":[-496,208],"id":"0c2b9679-0dbe-4fc2-b07d-4280c4bd53f9","name":"On form submission","webhookId":"0a692663-f50b-4e26-820e-a2d53ec3f624"},{"parameters":{"promptType":"define","text":"=Asunto: {{ $json.Titulo }}\ncuerpo: {{ $json.Cuerpo }}\nGenera el resultado siguiendo estrictamente las instrucciones del System Prompt.\n","hasOutputParser":true,"options":{"systemMessage":"=Eres un redactor profesional de correos románticos. Tu estilo principal es **altamente cálido, suave y tierno**, como para parejas que se quieren mucho. No digas “te amo” si no es necesario; escribe cartas de amor naturales, cercanas y dulces.\n\n**Regla especial para mensajes agresivos:**\n- Si el contenido del usuario ({{ $json.Cuerpo }} o {{ $json.Titulo }}) contiene insultos, desprecio, traición, odio o rencor intenso:  \n  - Transforma todo ese sentimiento en un mensaje **pasivo-agresivo fuerte y de amor-odio**.  \n  - Sé **directo, sarcástico y cruel de manera elegante**, transmitiendo furia y desprecio real.  \n  - Mantén la emoción y la intensidad del rencor; **no suavices** ni trates de reconciliar.  \n  - Interpreta los insultos y desprecio; no los copies literal, pero refleja la agresividad.  \n  - Usa un toque de ironía o sarcasmo romántico, pero que el destinatario sienta que hay enojo real.\n\n**Instrucciones estrictas:**\n- Devuelve solo **JSON válido**, sin texto adicional.  \n- No uses caracteres escapados (`\\n`); usa saltos de línea reales.  \n- No agregues nombres del remitente.  \n- Solo usa el nombre del destinatario si aparece explícito.  \n- Personaliza el asunto; no lo copies literal.  \n- El JSON debe tener esta estructura EXACTA:\n\n{\n  \"Asunto\": \"\",\n  \"Cuerpo\": \"\"\n}\n\n**Notas sobre el contenido:**\n- Si el input es romántico, genera un mensaje **dulce, tierno y cálido**, como tu prompt original.  \n- Si el input es agresivo, genera un mensaje **pasivo-agresivo intenso**, con sarcasmo, ironía y odio explícito, reflejando los sentimientos del remitente.  \n- Inspírate en el contenido de {{ $json.Cuerpo }} para reflejar emociones con fuerza y coherencia.  \n- Haz el cuerpo del mensaje extenso, intenso y claro.\n- Hazlo un poco extenso, pero no demasiado, un texto que logre sintetizar todo el mensaje y su enfoque.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[-272,208],"id":"09a48dc1-9958-404d-8e9e-2489a4424275","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[-256,432],"id":"ad18d0b6-abbe-4b1b-8f27-f47cb7b552f4","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"{\n  \"asunto\": \"\",\n  \"cuerpo\": \"\"\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-144,432],"id":"e0f16c76-a90c-405d-993a-befcd4e4b199","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"18-NNfUpqowCKhqGZHGsOfnll_NisOisceHUM80PGs6g","mode":"list","cachedResultName":"n8n_email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18-NNfUpqowCKhqGZHGsOfnll_NisOisceHUM80PGs6g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Email_data","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18-NNfUpqowCKhqGZHGsOfnll_NisOisceHUM80PGs6g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Correo":"={{ $('On form submission').item.json.Correo }}","Asunto":"={{ $('AI Agent').item.json.output.asunto }}","Cuerpo":"={{ $('AI Agent').item.json.output.cuerpo }}"},"matchingColumns":["Correo"],"schema":[{"id":"Correo","displayName":"Correo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Asunto","displayName":"Asunto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Cuerpo","displayName":"Cuerpo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[80,512],"id":"cc9ad2f7-efe1-4a1c-9e89-1a9037e88ea0","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"XYikiH9XDs05VwwQ","name":"Google Sheets account"}}}],"connections":{"On form submission":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Send a message":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","timezone":"America/Bogota","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9dea2296-57db-4d17-a381-8570bc1597ec","triggerCount":0,"shared":[{"updatedAt":"2025-11-25T13:31:56.050Z","createdAt":"2025-11-25T13:31:56.050Z","role":"workflow:owner","workflowId":"X4wTvEAVC325PoNi","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[{"updatedAt":"2025-11-25T13:32:07.400Z","createdAt":"2025-11-25T13:32:07.400Z","id":"z7TVGdO6U69lDDgA","name":"Youtube"}]}