transcriptbotty-mfXR9P033yWB6vIH.json
{"updatedAt":"2026-02-02T11:45:42.000Z","createdAt":"2026-02-01T00:07:16.326Z","id":"mfXR9P033yWB6vIH","name":"TranscriptBotty","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-288,-128],"id":"a79d4e22-0c6f-4f43-951c-d95cb1c62813","name":"Telegram Trigger","webhookId":"e562b325-082a-40c3-aa28-1192db73d901","credentials":{"telegramApi":{"id":"FLqQzwsgBgkvuYVN","name":"Botty"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a56b64b0-8dd7-4ab1-b68a-0900194d06ec","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[32,-128],"id":"b76bfc38-07e8-4b0f-b570-5a73d7681e1f","name":"contains voice message"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[352,-128],"id":"af75e3e2-6e44-49c8-bdcb-24be6efc5648","name":"get voice file","webhookId":"13082566-7dc8-419a-8fe0-1872345e7a27","credentials":{"telegramApi":{"id":"FLqQzwsgBgkvuYVN","name":"Botty"}}},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[608,-128],"id":"2f22cc4c-6203-4ec4-b087-0caaf40b4182","name":"transcribe voice to text","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"Eres un asistente que resume audio de voz que se ha enviado al chat, explica en pocas palabras lo que quiere decir el remitente. Habla en español latino perfecto, imitando el acento paisa"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[832,-128],"id":"b53d67be-471f-4d42-a3a5-970da0971250","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[912,96],"id":"7f34cf03-2dfd-4975-a8c5-81b93f802dbf","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"resource":"audio","input":"={{ $('AI Agent').item.json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2,"position":[1184,-128],"id":"39362569-7c11-4498-a962-dbe06efa58fb","name":"Generate audio","credentials":{"openAiApi":{"id":"7ni4GBtXo4othmWq","name":"OpenAi account"}}},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"reply_to_message_id":"={{ $('Telegram Trigger').item.json.message.message_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1392,-128],"id":"71adb8d6-17d2-4dfc-ac73-b9b2dc0daab8","name":"Send an audio file","webhookId":"cda97377-8ebc-4a16-9bf3-a439fe3e9cac","credentials":{"telegramApi":{"id":"FLqQzwsgBgkvuYVN","name":"Botty"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"contains voice message","type":"main","index":0}]]},"contains voice message":{"main":[[{"node":"get voice file","type":"main","index":0}]]},"get voice file":{"main":[[{"node":"transcribe voice to text","type":"main","index":0}]]},"transcribe voice to text":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Generate audio","type":"main","index":0}]]},"Generate audio":{"main":[[{"node":"Send an audio file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fe394903-0878-4bba-9841-2af597dba657","triggerCount":1,"shared":[{"updatedAt":"2026-02-01T00:07:16.349Z","createdAt":"2026-02-01T00:07:16.349Z","role":"workflow:owner","workflowId":"mfXR9P033yWB6vIH","projectId":"VGzKKN53DsJ4qIIa"}],"tags":[{"updatedAt":"2026-02-01T12:05:51.994Z","createdAt":"2026-02-01T12:05:51.994Z","id":"O1j5Z0UlJ8vKnBqJ","name":"Telegram"},{"updatedAt":"2026-02-01T12:05:49.643Z","createdAt":"2026-02-01T12:05:49.643Z","id":"UHj5XtJT6dTponAA","name":"Voice"},{"updatedAt":"2026-02-01T12:05:40.206Z","createdAt":"2026-02-01T12:05:40.206Z","id":"pB8EilhfGogabnx5","name":"Chatbot"}]}